
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*  general */
*{
    font-family: Arial, Helvetica, sans-serif;
}




/* NAVBAR */

.mobile-logo{
    display: none;
}


.fa-bell{
    color: goldenrod;
}


.mydropstart{
    position: relative;
    top: 20px;
}

button{
    border: none;
}

.my-search{
    background-color: rgb(236, 235, 235);
    border-radius: 5px;
    border: none;
    width: 90%;
}

.nav-form{
    padding: 0 0 0 1rem;
}

.btn1{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: auto;
    right: 0;
    margin-top: var(--bs-dropdown-spacer);
}

/* barra laterale */

.left-bar{
height: 100vh;
position: fixed;
width: max-content;
}

.top-left-bar{
    padding: 2vh 2vh;
    background-color: #13293F;
   
}

.bottom-left-bar{
    background-color:#0B2339;
  
    padding-bottom: 60px;
}



/* media Querry */

@media screen and (max-width: 768px) {
    
    .logo{
        display: none;
       
    }

    .mobile-logo{
        display: inline-block;
        height: 40px;
    }

    .mobile-none{
        display: none;
    }

    .navbar>.container-fluid{
        flex-wrap: nowrap;
    }

    h6{
        display: none;
    }
}